<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gadgetscure.gadgetscure">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="Gadgets Cure"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".IssuesActivity"
            android:label="Problems"
            android:parentActivityName=".MainActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".InfoScreenActivity"
            android:label="User Info"
            android:parentActivityName=".IssuesActivity"></activity>
        <activity android:name=".MainActivity"></activity>
    </application>

</manifest>